/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #0704aa;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #538ae2;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    /* height: 1000px; */
  }
  
  .sidebar .nav-link, .sidebar .nav-item {
    width: 100%;
  }

  .sidebar .dropdown-menu, .sidebar .dropdown-item {
    background-color: white;
    color: black;
  }

  .sidebar .sidebar-top a:hover {
    background-color: #0d6efd;
    color: white;
  }