.nav.nav-tabs li button {
  font-size: small;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
}

.nav.nav-tabs li button div {
  margin-left: 10px;
  height: 25px;
  width: 25px;
  background-color: gray;
  display: inline-block;
  align-content: center;
  border-radius: 30%;
  color: white;
}

.nav-tabs .nav-link.active {
  font-weight: bold;
}

.nav-tabs .nav-link:not(.active):hover {
  border-color: lightgray;
}

/* All */
.tab-status-0 {
  background-color: black !important;
}
/* Not started */
.tab-status-1 {
  background-color: gray !important;
}
/* In Progress */
.tab-status-2 {
  background-color: blue !important;
}
/* Finished */
.tab-status-3 {
  background-color: green !important;
}
/* Stopped */
.tab-status-4 {
  background-color: orange !important;
}
/* Cancelled */
.tab-status-5 {
  background-color: red !important;
}