<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

<!--    <link href="https://cdn.datatables.net/v/dt/dt-2.0.2/datatables.min.css" rel="stylesheet">-->

<!--    <script src="https://cdn.datatables.net/v/dt/dt-2.0.2/datatables.min.js"></script>-->

<!--    <script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>-->
<!--    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>-->
<!--    <script defer src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>-->
<!--    <script defer src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script>-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/operations.js"></script>

</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Company Name</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../Home/Landing_page.html" th:href="@{/}">Home</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Finance
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/operations/index}" role="button" aria-expanded="false">
                        Operations
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Human Resources
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Schedule
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--#region New Project Form-->
<div class="container justify-content-center my-1" id="newPrjFormContainer" style="display: none;">
    <div class="card shadow h-100 px-3 py-3" style="width: 80%; max-width: 500px; background-color: #EEEEEE;">
        <p class="h4 text-center">Create New Project</p>
        <form class="newPrjForm">
            <div class="row my-2">
                <div class="col-12">
                    <label for="newPrjName">Project name</label>
                    <input type="text" class="form-control" id="newPrjName" placeholder="New project's name" required>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12">
                    <label for="newPrjDescription">Project description</label>
                    <input type="text" class="form-control" id="newPrjDescription" placeholder="New project's description" required>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-6">
                    <label for="newPrjOwner">Owner</label>
                    <select class="form-select" id="newPrjOwner">
                        <option selected value="0">Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="newPrjDueDate">Due date</label>
                    <input type="datetime-local" class="form-control" id="newPrjDueDate">
                </div>
            </div>
            <div class="row my-3 mx-1">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary w-100" id="newPrjBtnSubmit">Submit</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary w-100" id="newPrjBtnCancel">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--#endregion New Project Form-->

<div class="container pt-3">
    <button type="button" class="btn btn-primary" id="newPrjBtn">
        New project
    </button>

    <table class="table-clickable table table-hover table-collapsed" id="project-table">
    <thead class="table-light">
        <tr>
            <th scope="col">Project</th>
            <th scope="col">Owner</th>
            <th scope="col">Status</th>
            <th scope="col">Due date</th>
            <th scope="col">Description</th>
            <th scope="col"><!--Button row--></th>
        </tr>
    </thead>
    <tbody>
    <tr data-href="ButtonForm">
<!--        <td>Project 1</td>-->
<!--        <td>Owner 1</td>-->
<!--        <td>Status 1</td>-->
<!--        <td>Due date 1</td>-->
<!--        <td>People 1</td>-->
<!--        <td>-->
<!--            <button type="button" class="btn btn-primary delete-prj-btn">-->
<!--                Delete project-->
<!--            </button>-->
<!--        </td>-->
    </tr>
    </tbody>
    </table>
</div>

</body>

</html>